<div class="span-3">
  <%= f.label :size, "Size:" %>
</div>
<div class="last"><%= f.select :size, Instance::SIZES %></div>
<div class="span-3">
  <%= f.label :zone, "Availability Zone:" %>
</div>
<div class="last"><%= f.select :zone, Instance::ZONES %></div>
<div class="span-3">
  <%= f.label :role, "Role:" %>
</div>
<div class="last"><%= f.select :role, Instance::ROLES %></div>

