<p>
  <%= f.label :size, "Size:" %>
  <%= f.select :size, Instance::SIZES %>
</p>
<p>
  <%= f.label :zone, "Availability Zone:" %>
  <%= f.select :zone, Instance::ZONES %>
</p>
<p>
  <%= f.label :role, "Role:" %>
  <%= f.select :role, Instance::ROLES %>
</p>
