<h1>Listing Instances</h1>

<table>
  <tr>
    <th>Environment</th>
    <th>Size</th>
    <th>Zone</th>
    <th>Role</th>
  </tr>
  <%- @instances.each do |instance|%>
    <tr>
      <td><%=h instance.environment_id %></td>
      <td><%=h instance.size %></td>
      <td><%=h instance.zone %></td>
      <td><%=h instance.role %></td>
    
      <td><%=link_to 'Show', object_url(instance) %></td>
      <td><%=link_to 'Edit', edit_object_url(instance) %></td>
      <td><%=link_to 'Destroy', object_url(instance), :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>
<br/>

<%= link_to 'New Instance', new_object_url %>