<h2>
  <%= link_to @environment.application.name, application_environments_url(@environment.application) %>
  /
  <%= link_to @environment.name, @environment %>
  /
  New Instance</h2>

<%= error_messages_for :instance %>

<% form_for(:instance, :url => collection_url) do |f| %>
  <fieldset>
    <%= render :partial => "form", :locals => { :f => f } %>
    <div class="span-24 prepend-top">
      <%= submit_tag "Launch" %>
    </div>
  </fieldset>
<% end %>

