<div class="span-4">
  <%= f.label :name, "Name:" %>
</div>
<div class="last"><%= f.text_field :name %></div>
<div class="span-4"><%= f.label :clone_url, "Clone URL:" %></div>
<div class="last"><%= f.text_field :clone_url %></div>
<div class="span-4">
  <%= f.label :cookbook_clone_url, "Cookbook Clone Url:" %>
</div>
<div class="last"><%= f.text_field :cookbook_clone_url %></div>
<div class="clear"></div>
