<h1>Editing Application</h1>

<%= error_messages_for :application %>

<% form_for(:application, :url => object_url, :html => { :method => :put }) do |f| %>
  <fieldset>
    <%= render :partial => "form", :locals => { :f => f } %>
    <div class="span-24 prepend-top">
      <%= submit_tag "Save" %>
    </div>
  </fieldset>
<% end %>

<br/>

<%= link_to 'Show', object_url %>
|
<%= link_to 'Back', collection_url %>
