<li>
  <%= instance.role %> (<%= instance.aws_state %>, <%= instance.config_state %>, <%= instance.size %>, <%= instance.instance_id %>)
  <% if instance.running? || instance.bootstrapped? -%>
    <%= link_to instance.dns_name, "http://#{instance.dns_name}" %>
  <% end -%>
  <%= link_to "deploy", deployments_environment_instance_url(@environment, instance), :method => :post %>
  <%= link_to "delete", environment_instance_url(@environment, instance), :method => :delete, :confirm => "Are you sure?!" %>
</li>
