<h1>Editing Environment</h1>

<%= error_messages_for :environment %>

<% form_for(:environment, :url => object_url, :html => { :method => :put }) do |f| %>
  <fieldset>
    <%= render :partial => "form", :locals => { :f => f } %>
    <div class="span-24 prepend-top">
      <%= submit_tag "Update" %>
    </div>
  </fieldset>
<% end %>

<%= link_to 'Show', object_url %>
|
<%= link_to 'Back', collection_url %>
