<div class="span-12">
  <h2>Environments in <span class="quiet"><%= @application.name %></span></h1>
  (<%= link_to 'new', new_object_url %>)
</div>

<div class="span-23 box">
  <ul>
    <% @environments.each do |e| -%>
      <li>
        <%= link_to e.name, object_url(e) %> 
        (<%= link_to "edit", edit_object_url(e) %> | 
         <%= link_to "destroy", object_url(e), :method => :delete, :confirm => "Are you absolutely sure!?!?!?! This will destroy all data in the environment." %>)
      </li>
    <% end -%>
</div>

