<h2><%= h @environment.application.name %>: <%= h @environment.name %></h2>

<h3><%= pluralize(@environment.instances.count, "instance") %> running</h3>

<ul>
  <% @environment.instances.each do |i| -%>
    <li>
      <%= i.role %> (<%= i.state %>, <%= i.size %>, <%= i.instance_id %>)
      <% if i.running? || i.bootstrapped? -%>
        <%= link_to i.dns_name, "http://#{i.dns_name}" %>
      <% end -%>
      <%= link_to "delete", environment_instance_url(@environment, i), :method => :delete, :confirm => "Are you sure?!" %>
    </li>

  <% end -%>
</ul>


<%= link_to 'Launch Instance', new_environment_instance_url(object) %>
|
<%= link_to 'Edit', edit_object_url %>
|
<%= link_to 'Back', collection_url %>
