<% content_for(:script) do -%>
  <script type="text/javascript">
    $(function() {
      $.PeriodicalUpdater({
        multiplier: 1,
        minTimeout: 500,
        url: '<%= environment_instances_url(@environment) %>.js'
        }, function(data) {
          $('#instances').html(data);
        });
    });
  </script>
<% end -%>

<h2>
  <%= link_to @environment.application.name, @environment.application %> / <%= h @environment.name %>

  <span class="small quiet">(<% unless @environment.instances.configured.empty? %><%= link_to "deploy", deployments_environment_url(object), :method => :post %> | 
   <% end -%>
   <%= link_to 'launch Instance', new_environment_instance_url(object) %>)</span>
</h2>

<h3 class="quiet">
</h3>

<hr/>

<% if @environment.instances.empty? -%>
  <div class="box blank-state-notice">
    Now, <%= link_to "launch some instances", new_environment_instance_url(object) %>.
  </div>
<% else -%>
  <ul id="instances">
    <%= render :partial => 'instance', :collection => @environment.instances %>
  </ul>
<% end -%>

