<% content_for(:script) do -%>
  <script type="text/javascript">
    $(function() {
      $.PeriodicalUpdater({
        multiplier: 1,
        minTimeout: 500,
        url: '<%= environment_instances_url(@environment) %>.js'
        }, function(data) {
          $('#instances').html(data);
        });
    });
  </script>
<% end -%>

<h2><%= h @environment.application.name %>: <%= h @environment.name %></h2>

<h3>
  <%= pluralize(@environment.instances.count, "instance") %> running
  <%= link_to "deploy", deployments_environment_url(object), :method => :post %>
</h3>

<ul id="instances">
  <%= render :partial => 'instance', :collection => @environment.instances %>
</ul>


<%= link_to 'Launch Instance', new_environment_instance_url(object) %>
|
<%= link_to 'Edit', edit_object_url %>
|
<%= link_to 'Back', collection_url %>
