<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title><%= controller.class.name %>: <%= controller.action_name %></title>
  <%= javascript_include_tag 'jquery', 'jquery.periodicalupdater', 'application.js' %>
  <%= stylesheet_link_tag 'screen', 'application' %>
  <%= yield(:script) %>
</head>
<body>

<div class="container">
  <% unless flash[:notice].blank? -%>
    <div class="prepend-top notice"><%= flash[:notice] %></div>
  <% end -%>

  <div id="header" class="span-24 prepend-top">
    <h1><%= link_to "Conductor", "/", :class => "loud" %></h1>
  </div>
  <hr />
  <%= yield %>
</div>

</body>
</html>
